!!! 5

head
	meta(name="viewport", content="width=device-width, initial-scale=1")
	title= "quantanalyst.ch"
	link(href="quantanalyst.css", rel="stylesheet")

body

	header
		div(class="grid_row")	
			div(class="title")
			div(class="subtitle")
	
	main
		div(class="grid_row")	

			div(id="navigation")

				ul(id="menu")
					li
						a(href="#" data-navigation-type="blog")= "Blog"
					li
						a(href="#" data-navigation-type="data")= "Data"
					li
						a(href="#" data-navigation-type="finance")= "Finance"

				ul(id="blog")
					li
						a(href="#" data-navigation-type="menu")= "menu"
					li
						a(href="#")= "Blog 02"

				ul(id="data")
					li
						a(href="#" data-navigation-type="menu")= "menu"
					li
						a(href="#")= "Data 02"

				ul(id="finance")
					li
						a(href="#" data-navigation-type="menu")= "menu"
					li
						a(href="#")= "finanzen"

			div(id="navigation_mobile")

				ul(id="menu_mobile")
					li
						a(href="#" data-navigation-type="blog_mobile")= "Blog"
					li
						a(href="#" data-navigation-type="data_mobile")= "Data"
					li
						a(href="#" data-navigation-type="finance_mobile")= "Finance"

				ul(id="blog_mobile")
					li
						a(href="#" data-navigation-type="menu_mobile")= "menu"
					li
						a(href="#")= "Blogeintrag Thema 01"
					li
						a(href="#")= "Blogeintrag Thema 02 "


				ul(id="data_mobile")
					li
						a(href="#" data-navigation-type="menu_mobile")= "menu"
					li
						a(href="#")= "Data 02"

				ul(id="finance_mobile")
					li
						a(href="#" data-navigation-type="menu_mobile")= "menu"
					li
						a(href="#")= "finanzen"

			article(class="article")

	footer
		div(class="grid_row")
			footer_entries = ['GitHub', 'About', 'Copyright', 'Links']
			each footer_entry in footer_entries
				div(class="footer_entry")= footer_entry

	script(src="quantanalyst.js")
